<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
          <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
          <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <clear />                
        <rule name="AddCrossDomainHeader">
          <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_ORIGIN}" pattern=".*" />
          </conditions>
          <action type="Rewrite" value="{C:0}" />
        </rule>           
      </outboundRules>
      <rules>
        <rule name="ReactRouter Routes" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/saibamaisvw/" />
        </rule>
        <rule name="BlockEmpty" stopProcessing="true" enabled="false">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="^(?!.*SMVW)"/>
          </conditions>
          <action type="CustomResponse" statusCode="403" statusDescription="Forbidden"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>