body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "VW Text";
}

#root > * {
  min-height: 100vh;
}

.campaignWrapper {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  background-color: white;
  cursor: pointer;
}

.campaignWrapper > * {
  padding: 16px;
}

.campaignDetails {
  padding: 16px 0;
}

.campaignDetails > * {
  margin: 0;
  padding: 4px 0;
  
}

.campaignName {
  font-weight: bold;
}

.campaignDate {
  color: black;
  opacity: 0.6;
}

.campaignOrg {
  color: #5b08a4;
  opacity: 0.6;
}

.campaignDate, .campaignOrg {
  font-size: 12px;
}

.campaignWrapper + hr {
  margin: 0 16px;
  height: 0;
  border: 1px solid #dfe4e8;
}

.campaignIcon, .campaignExpand {
  display: flex;
  align-items: center;
}

.Spinner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.toolbar {
  background-color: #eff3f5;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
}

.toolbar > button {
  border: none;
  background-color: #eff3f5;
  cursor: pointer;
}

.toolbar svg {
  background-color: #eff3f5;
}

#campaignForm {
  background-color: white;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 16px;
}

#campaignForm > * {
  border: 0;
  border-bottom: 2px solid #eff3f5;
  padding: 8px 0;
  margin: 0 0 24px;
  transition: 0.3s border ease-in-out;
  width: 80%;
}

#campaignForm > *:focus {
  border-color: #5b08a4;
}

#campaignForm select {
  background-color: white;
}

#campaignForm select:invalid {
  color: #757575;
}

#campaignForm option {
  color: black;
}

#campaignForm button {
  cursor: pointer;
}